
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

.container-background{
	background-image: url('/img/board.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
	  display: flex;
	  justify-content: center;
}

.container {
  padding: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  display: inline-block;
  width: 50%;
}

.row {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  background-color: #228B22;
  outline: none;
  text-align: center;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

p{
	margin: 0 auto;
}
.registerbtn {
  background-color: orange;
  color:black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin: 0 auto;
    font-size: 20px;
  //opacity: 0.7;
}

a {
  color: dodgerblue;
}

.signin {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.redictpg{text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  }

