<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers on line</title>
    <link rel="stylesheet" href="/css/index.css?version=2">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <div class="logo1">
                <img src="/img/teacher1.jpg" alt="teacher in primary school">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/teacherSearch">We Educate</a></li>
                    <li><a href="/teacherList">About us</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="logo2">
                <img src="/img/teacher3.jpg" alt="teacher in high school">
            </div>
        </div>

        <div class="slider">
            <div class="title"><p>Our Passion is to educate, everyone ... everywhere...
                in anything</p></div>
            <div class="subtitle"><p>Come in our big,international virtual classroom to teach or to learn or 
            both!Our community is based on trust,diversity and inspiration </p></div>
            
        </div>

        <div class="main">
            <div class="main-title">
                <h1>FIND HERE YOUR PERSONAL ON LINE TEACHER!</h1>
            </div>
            <div class="main-text">
                <p>Choose from thousands of specialized professors from all around the world and in every science field you are interested of!</p>
            </div>
           
        </div>

        <div class="footer">
            <div class="copyright"> 
                <p>&copy; Teachers on line, Tol, 
                    All rights reserved</p>
            </div>
            <div class="social"> 
                <p class="follow-us">Follow us:</p> 
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
            </div>
        </div>
    </div>

    
</body>
</html>