<!DOCTYPE html>
<html xmlns="http://www/w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teacher found</title>
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
	<h1>Welcome Mr/Ms  <p th:text="${teacher.sname}"></p></h1 >	
	<table class="table table-striped table-bordered">
		<thead class="table-green">
			<tr>
				<th> Id</th>	
				<th> Last Name</th>	
				<th> First Name</th>	
				<th> Email</th>	
				<th> Password</th>					
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${teacher.id}"></td>
				<td th:text="${teacher.sname}">	</td>
				<td th:text="${teacher.fname}"></td>
				<td th:text="${teacher.email}"></td>
				<td th:text="${teacher.password}"></td>		
			</tr>
		<tbody>
	</table>
	<div class="redictpg"><br><br>
    	<p>Back to the <a href="/">homepage</a></p><br><br>
	</div>
</body>
</html>